.block {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 508px;
    height: 400px;
    border-radius: 4%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.block1{
    width: 400px;
    height: 50px;
    display: block;
    margin-top: 30px;
    margin-left: 50px;
}
.button{
    width: 400px;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: black;
    color: white;
}
@media (max-width: 480px) {
    .block {
        top: 50%;
        /* IMPORTANT */
        left: 50%;
        /* IMPORTANT */
        display: block;
        position: absolute;
        /* background: url(images/background.png) no-repeat center center; */
        width: 750px;
        height: 417px;

        margin-top: -208.5px;
        /* HALF OF THE HEIGHT */
        margin-left: -375px;
        /* HALF OF THE WIDTH */
    }
}
