.block {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 508px;
    height: 536px;
    border-radius: 4%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Text {
    margin-top: 20px;
    width: 300px;
    height: 35px;
    margin-left: 100px;
}

.heading {
   text-align: center;
   margin-top: 35px;
}
.pHeading{
    text-align: center;
    margin-top: 20px;
}
.bottomText{
    margin-top: 54px;
}
.button1 {
    width: 300px;
    margin-top: 10px;
    margin-left: 100px;
    color: white;
    background-color: black;
    border-color: black;
    border-radius: 3%;
    height: 40px;

}

@media (max-width: 480px) {
    .block {
        top: 50%;
        /* IMPORTANT */
        left: 50%;
        /* IMPORTANT */
        display: block;
        position: absolute;
        /* background: url(images/background.png) no-repeat center center; */
        width: 750px;
        height: 417px;

        margin-top: -208.5px;
        /* HALF OF THE HEIGHT */
        margin-left: -375px;
        /* HALF OF THE WIDTH */
    }
}